<ion-content [fullscreen]="true">

    <ion-item lines="none"
              class="ion-bg-none">
        <h3>
            <ion-label color="primary">
                New Movies
            </ion-label>
        </h3>

        <ion-icon slot="end"
                  src="assets/new.svg">

        </ion-icon>
    </ion-item>

    <app-slideshow-backdrop *ngIf="!loadingFeatureMovies; else spinner"
                            [movies]="movies | filterBackdrop">

    </app-slideshow-backdrop>


    <ion-item lines="none"
              class="ion-bg-none">
        <h3>
            <ion-label color="primary">
                Charts
            </ion-label>
        </h3>

        <ion-icon slot="end"
                  src="assets/badge.svg">

        </ion-icon>
    </ion-item>



    <app-slideshow-poster *ngIf="!loadingFeatureMovies; else spinner"
                          [movies]="movies">

    </app-slideshow-poster>


    <ion-item lines="none"
              class="ion-bg-none">
        <h3>
            <ion-label color="primary">
                Popular
            </ion-label>
        </h3>

        <ion-icon slot="end"
                  src="assets/popularity.svg">

        </ion-icon>
    </ion-item>

    <app-slide-show-par *ngIf="!loadingPopularMovies; else spinner"
                        [movies]="popular"
                        (loadMoreMovies)="loadPopular()">

    </app-slide-show-par>


</ion-content>

<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>
