<ion-content [fullscreen]="true">

    <ion-item lines="none">
        <h3>
            <ion-label color="primary">
                Favorites
            </ion-label>
        </h3>

        <ion-icon slot="end"
                  src="assets/favorite.svg">

        </ion-icon>
    </ion-item>

    <div *ngFor="let moviesXgenre of moviesByGenre">
        <ion-grid>
            <ion-item lines="none"
                      class="ion-bg-none">
                <h4>
                    <ion-label color="primary">
                        {{moviesXgenre.genre}}

                    </ion-label>
                </h4>
            </ion-item>

            <app-slideshow-poster [movies]="moviesXgenre.movies"></app-slideshow-poster>
        </ion-grid>


    </div>


</ion-content>
