<ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let par of movies | par">

        <ion-row>
            <ion-col size="12"
                     *ngFor="let movie of par">
                <ion-card class="poster"
                          (click)="showDetail(movie.id)">
                    <img [src]="movie.poster_path | image"
                         [ngStyle]="{'object-fit': 'cover', 'height': '100%'}">
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-slide>


    <ion-slide class="slide-more">

        <ion-button expand="block"
                    class="btn-more"
                    size="large"
                    (click)="loadMore()">

            <ion-icon slot="icon-only"
                      name="add"></ion-icon>
        </ion-button>
    </ion-slide>

</ion-slides>
